/.idea/.gitignore
/.idea/ddd_project.iml
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/sqldialects.xml
/.idea/dataSources/42fd8576-9cec-41ab-97d1-e4ae14f74d02.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/42fd8576-9cec-41ab-97d1-e4ae14f74d02/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/42fd8576-9cec-41ab-97d1-e4ae14f74d02/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
/.idea/dataSources/42fd8576-9cec-41ab-97d1-e4ae14f74d02/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/42fd8576-9cec-41ab-97d1-e4ae14f74d02/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_21_11_2022_00_52_[Changes]/shelved.patch
/.idea/dataSources/42fd8576-9cec-41ab-97d1-e4ae14f74d02/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/shelf/Uncommitted_changes_before_Update_at_21_11_2022_00_52__Changes_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_21_11_2022_00_52_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_21_11_2022_00_52_[Changes]/shelved.patch
