{% extends 'index.html' %}
{% block body %}
<div
      class="
        relative
        z-10
        pt-[120px]
        md:pt-[130px]
        lg:pt-[160px]
        pb-[100px]
        bg-primary
        overflow-hidden
      "
    ><div class="container">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full px-4">
            <div class="text-center">
              <h1 class="font-semibold text-white text-4xl">Nouvelle liste de mots</h1>
            </div>
          </div>
        </div>
      </div>
</div>
    <h1 style="color: blue; font-size: 32px;">Titre</h1>
	<form>
		<label for="nom" style="font-size: 20px;">Titre :</label>
		<input type="text" id="nom" name="nom" style="width: 300px; padding: 5px;"><br>


	<h1 style="color: blue; font-size: 32px;">La liste des nouveaux mots</h1>

		<label for="prenom" style="font-size: 20px;">Mot 1 :</label>
		<input type="text" id="prenom" name="prenom" style="width: 300px; padding: 5px;"><br>

		<input type="submit" value="S'inscrire" style="font-size: 20px; background-color: blue; color: white; border: none; padding: 10px 20px; cursor: pointer;">
	</form>
{% endblock %}