{% extends 'index.html' %}
{%  block body %}

    <!-- ====== Banner Section Start -->
    <div
      class="
        relative
        z-10
        pt-[120px]
        md:pt-[130px]
        lg:pt-[160px]
        pb-[100px]
        bg-primary
        overflow-hidden
      "
    >
      <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full px-4">
            <div class="text-center">
              <h1 class="font-semibold text-white text-4xl">Nos conditions générales d'utilisation</h1>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span class="absolute top-0 left-0 z-[-1]">
          <svg
            width="495"
            height="470"
            viewBox="0 0 495 470"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="55"
              cy="442"
              r="138"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="50"
            />
            <circle
              cx="446"
              r="39"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="20"
            />
            <path
              d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z"
              stroke="white"
              stroke-opacity="0.08"
              stroke-width="12"
            />
          </svg>
        </span>
        <span class="absolute top-0 right-0 z-[-1]">
          <svg
            width="493"
            height="470"
            viewBox="0 0 493 470"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="462"
              cy="5"
              r="138"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="50"
            />
            <circle
              cx="49"
              cy="470"
              r="39"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="20"
            />
            <path
              d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z"
              stroke="white"
              stroke-opacity="0.06"
              stroke-width="13"
            />
          </svg>
        </span>
      </div>
    </div>
    <!-- ====== Banner Section End -->
<div class="mx-8 my-8">
    <h1  class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                      text-center
                    "
                    data-wow-delay=".1s">Conditions générales d'utilisation du site www.dddhub.fr</h1>


    <h2  class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 1 : Objet</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site www.dddhub.fr et de ses services.

Ce contrat est conclu entre :

Le gérant du site internet, ci-après désigné « l’Éditeur »,

Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».

Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.

</p>

<h2  class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 2 : Mentions légales</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Pour les personnes morales :

Le site www.dddhub.fr est édité par la société DDDCorp, SA, au capital de 0 €, dont le siège social est situé au 18 Rue Henri Vannerus, 2662 Luxembourg.
</p>

<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 3 : accès aux services</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">L’Utilisateur du site www.dddhub.fr a accès aux services suivants :
•	Blog

Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.

Les services suivants ne sont pas accessible pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il est identifié à l’aide de ses identifiants de connexion) :
•	Blog

Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.
</p>

<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 4 : Responsabilité de l’Utilisateur</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe.

Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité.

L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site www.dddhub.fr

Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.

En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.

L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de sa publication</p>



<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 5 : Responsabilité de l’Éditeur</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.

De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.

Le site www.dddhub.fr s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.

L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.
</p>
    <h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 6 : Propriété intellectuelle</h2>
<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">
Les contenus du site www.dddhub.fr (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.

L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.

Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.

L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.

L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.

</p>
<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 7 : Données personnelles</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.

L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site www.dddhub.fr pour la communication d’informations diverses et la gestion du compte.

www.dddhub.fr garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.

En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :

•	Son espace personnel sur le site ;
•	Un formulaire de contact ;
•	Par mail à dddhub@gmail.com ;
</p>

    <h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 8 : Liens hypertextes</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de www.dddhub.fr qui n’a pas de contrôle sur ces liens.

Il est possible pour un tiers de créer un lien vers une page du site www.dddhub.fr sans autorisation expresse de l’éditeur.

</p>

    <h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 9 : Évolution des conditions générales d’utilisation</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Le site www.dddhub.fr se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.

</p>
<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 10 : Durée du contrat</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.
</p>

<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 11 : Droit applicable et juridiction compétente</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Le présent contrat dépend de la législation française.
En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Paris sont compétents pour régler le contentieux.
</p>
</div>


{% endblock %}