{% extends 'index.html' %}
{%  block body %}

    <!-- ====== Banner Section Start -->
    <div
      class="
        relative
        z-10
        pt-[120px]
        md:pt-[130px]
        lg:pt-[160px]
        pb-[100px]
        bg-primary
        overflow-hidden
      "
    >
      <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full px-4">
            <div class="text-center">
              <h1 class="font-semibold text-white text-4xl">Nos conditions générales d'utilisation</h1>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span class="absolute top-0 left-0 z-[-1]">
          <svg
            width="495"
            height="470"
            viewBox="0 0 495 470"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="55"
              cy="442"
              r="138"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="50"
            />
            <circle
              cx="446"
              r="39"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="20"
            />
            <path
              d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z"
              stroke="white"
              stroke-opacity="0.08"
              stroke-width="12"
            />
          </svg>
        </span>
        <span class="absolute top-0 right-0 z-[-1]">
          <svg
            width="493"
            height="470"
            viewBox="0 0 493 470"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="462"
              cy="5"
              r="138"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="50"
            />
            <circle
              cx="49"
              cy="470"
              r="39"
              stroke="white"
              stroke-opacity="0.04"
              stroke-width="20"
            />
            <path
              d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z"
              stroke="white"
              stroke-opacity="0.06"
              stroke-width="13"
            />
          </svg>
        </span>
      </div>
    </div>
    <!-- ====== Banner Section End -->
<div class="mx-8 my-8">
    <h1  class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                      text-center
                    "
                    data-wow-delay=".1s">POLITIQUE DE CONFIDENTIALITÉ DU SITE : www.dddhub.fr</h1>


    <h2  class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 1 : PRÉAMBULE</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Cette politique de confidentialité s'applique au site : www.dddhub.fr.
La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site :
La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP ;
Quels sont les droits des utilisateurs concernant ces données ;
Qui est responsable du traitement des données à caractère personnel collectées et traitées ;
A qui ces données sont transmises ;
Eventuellement, la politique du site en matière de fichiers "cookies".
Cette politique de confidentialité complète les mentions légales et les Conditions Générales d'Utilisation que les utilisateurs peuvent consulter à l'adresse ci-après :
http://www.dddhub.fr/cgu

</p>

<h2  class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 2 : PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE DONNÉES</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :
Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;
Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation ;
Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;
Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation ;
Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.

    Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :
L'utilisateur a expressément consenti au traitement ;
Le traitement est nécessaire à la bonne exécution d'un contrat ;
Le traitement répond à une obligation légale ;
Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;
Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ;
Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.


</p>

<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
   data-wow-delay=".1s">A. DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE<br>
Les données à caractère personnel collectées sur le site DDDHub sont les suivantes :
-Adresse mail
-Adresse IP
-Pages consultées
Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :
-Lorsque l'utilisateur accède au site
-Lorsque l'utilisateur s'inscrit à l'aide du formulaire en ligne
Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : -Adresse IP : 1 mois ;
-Adresse mail : 1 mois ;.
La collecte et le traitement des données répondent aux finalités suivantes :
- Fonctionnement du site
Les traitements de données effectués sont fondés sur les bases légales suivantes :
-consentement de l'utilisateur<br>
B. TRANSMISSION DES DONNÉES A DES TIERS<br>
Les données à caractère personnel collectées par le site ne sont transmises à aucun tiers, et ne sont traitées que par l'éditeur du site.<br>
C. HÉBERGEMENT DES DONNÉES <br>

Le site DDDHub est hébergé par : OVH, dont le siège est situé à l'adresse ci-après :
2, rue Kellermann, 59100 Roubaix.
L'hébergeur peut être contacté au numéro de téléphone suivant : 1007.
Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France.
</p>

<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">A. LE RESPONSABLE DU TRAITEMENT DES DONNÉES<br>
Le responsable du traitement des données à caractère personnel est : DDDCorp. Il peut être contacté de la manière suivante :
-Par mail : dddhub@gmail.com
Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel.
<br>B. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES<br>
Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.
Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés.
Un certificat SSL ("Secure Socket Layer" Certificate) a pour but de sécuriser les données échangées entre l'utilisateur et le site.
De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.
Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.
</p>



<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 5 : DROITS DE L'UTILISATEUR</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.
Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.
Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.
<br>
A. PRÉSENTATION DES DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT DE DONNÉES<br>
a. Droit d'accès, de rectification et droit à l'effacement<br>
L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :
L'utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l'objet de sa demande, à l'adresse e-mail de contact.
S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante :
L'utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l'objet de sa demande, à l'adresse e-mail de contact.
<br>
b. Droit à la portabilité des données<br>
L'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après :
L'utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l'objet de sa demande, à l'adresse e-mail de contact.
<br>
c. Droit à la limitation et à l'opposition du traitement des données<br>
L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.
Afin de demander la limitation du traitement de ses données ou de formuler une opposition au traitement de ses données, l'utilisateur doit suivre la procédure suivante :
L'utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l'objet de sa demande, à l'adresse e-mail de contact.
<br>
d. Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé<br>
Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé si la décision produit des effets juridiques le concernant, ou l'affecte de manière significative de façon similaire.
<br>
e. Droit de déterminer le sort des données après la mort<br>
Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.
<br>
f. Droit de saisir l'autorité de contrôle compétente<br>
Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés ci-dessus, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent.
<br>
B. DONNÉES PERSONNELLES DES PERSONNES MINEURES<br>
Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.
Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.
L'éditeur du site se réserve le droit de vérifier par tout moyen que l'utilisateur est âgé de plus de 15 ans, ou qu'il aura obtenu l'accord d'un représentant légal avant de naviguer sur le site.
<br></p>
    <h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 6 : UTILISATION DES FICHIERS "COOKIES"</h2>
<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">
Le site a éventuellement recours aux techniques de "cookies".
Un "cookie" est un fichier de petite taille (moins de 4 ko), stocké par le site sur le disque dur de l'utilisateur, contenant des informations relatives aux habitudes de navigation de l'utilisateur.
Ces fichiers lui permettent de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur.
Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.
Ce consentement de l'utilisateur est considéré comme valide pour une durée de 6 (six) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.
<br>
a. Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site<br>
Les cookies non essentiels au fonctionnement du site ne sont déposés sur le terminal de l'utilisateur qu'après avoir obtenu son consentement. L'utilisateur peut retirer son consentement à tout moment, de la manière suivante :
Veuillez cliquer sur le bouton "retirer le consentement".

De manière plus générale, il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces fichiers "cookies" en configurant son logiciel de navigation.
Pour information, l'utilisateur peut trouver aux adresses suivantes les démarches à suivre afin de configurer son logiciel de navigation pour s'opposer à l'enregistrement des fichiers "cookies" :
Chrome : https://support.google.com/accounts/answer/61416?hl=fr
Firefox : https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences
Safari : http://www.apple.com/legal/privacy/fr-ww/
Internet Explorer : https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies
Opera : http://www.opera.com/help/tutorials/security/cookies/
Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.
<br>
b. Description des fichiers "cookies" utilisés par le site<br>
L'éditeur du site attire l'attention de l'utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation :
-Cookie : Google AdSense Émetteur : Google
En naviguant sur le site, il est porté à connaissance de l'utilisateur que des fichiers "cookies" de tiers peuvent être enregistrés.
Il s'agit plus particulièrement des tiers suivants :
Google
L'attention de l'utilisateur est portée sur le fait que ces sites disposent de politiques de confidentialité propres et de conditions générales d'utilisation possiblement différentes du site. L'éditeur du site invite les utilisateurs à consulter les politiques de confidentialité et les conditions générales d'utilisation de ces sites.

</p>
<h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">ARTICLE 7 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">La présente politique de confidentialité peut être consultée à tout moment à l'adresse ci-après indiquée :
https://www.dddhub.fr/pc
L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur.
Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.
Il est porté à la connaissance de l'utilisateur que la dernière mise à jour de la présente politique de confidentialité est intervenue le : 24/11/2022.

</p>
    <h2 class="
                      font-bold
                      mb-8
                      text-dark text-2xl
                      sm:text-[26px]
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">Article 9 – ACCEPTATION PAR L’UTILISATEUR DE LA POLITIQUE DE CONFIDENTIALITÉ</h2>

<p class="
                      text-base text-body-color
                      leading-relaxed
                      mb-10
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s">En naviguant sur le site, l’utilisateur atteste avoir lu et compris la présente politique de confidentialité et en accepte les conditions, en ce qui concerne plus particulièrement la collecte et le traitement de ses données à caractère personnel.
</p>

</div>


{% endblock %}